@mixin labels($background, $color, $font-size, $direction) {
	display: inline-block;
	vertical-align: middle;
	padding: 16px;
	line-height: 1; 
	background: $background;
	color: $color;
	font-size: $font-size;
	position: relative;
		
	&:before,
	& .before {
		content:'';
		position: absolute;
		height: 0;
		width: 0;
		border-style: solid;   
	}
	
	@if($direction == right) {
		height:$font-size;
		
		&:before,
		& .before {
			border-color: transparent #fff transparent transparent;
			border-width: ($font-size + 32) / 2 9px;
			right:0;
			top:0;
		}    
	}
	
	@if($direction == left){
	height:$font-size;
	&:before,
	& .before{
	border-width: ($font-size + 32) / 2 9px;
	border-color: transparent transparent transparent #fff;
	left:0;
	top:0;
	}     
	}
	@if($direction == top){
	width: $font-size / 2;     
	word-wrap:break-word;
	word-break:break-all;
	&:before,
	& .before{
	border-color: #fff transparent transparent transparent;
	left:0;
	top:0;
	border-width: 9px ($font-size / 2 + 32) / 2;
	}   
	}
	@if($direction == bottom){
	width: $font-size / 2;
	word-wrap:break-word;
	word-break:break-all;
	&:before,
	& .before{
	border-color: transparent transparent #fff transparent;
	left:0;
	bottom:0;
	border-width: 9px ($font-size / 2 + 32) / 2;   
	}   
	}
}